
.contacts {
    padding-top: var(--container-padding-tb);
    padding-bottom: var(--container-padding-tb);

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

@media (max-width: 1024px) {
    .contacts {
        gap: 24px;
    }
}

.contacts__text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 576px;
}

.contacts__text .header1 {
    color: var(--gray-600);
    text-align: center;
}

.contacts__text .subtitle {
    color: var(--gray-600);
    text-align: center;
}

.contacts__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.contacts__row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.contacts__row a {
    color: var(--gray-600);
    position: relative;
}

@media (max-width: 1024px) {
    .contacts__row img {
        width: 24px;
    }
}

.contacts__row a::after {
    display: none;
    content: 'Copied!';
    position: absolute;
    right: -95px;
    top: 8px;

    font-size: 14px;
    font-weight: 500;
    line-height: 20px;

    color: var(--gray-600);
    background-color: var(--gray-200);
    padding: 4px 16px;
    border-radius: var(--radius);
}

.contacts__row a.copied::after {
    display: flex;
    content: 'Copied!';
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateX(-1em);
    animation: clipboarddone 1.5s ease;
}

@keyframes clipboarddone {
    70% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(0); }
}