
.experience {
    padding-top: var(--container-padding-tb);
    padding-bottom: var(--container-padding-tb);

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 48px;

    background-image:
            url("../img/orange-pile-left.png"),
            url("../img/orange-pile-right.png");
    background-repeat: no-repeat;
    background-position:
            bottom left,
            bottom right;
}

@media (max-width: 768px) {
    .experience {
        background-image: none;
    }
}

.experience__text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 576px;
}

.experience__text .header1 {
    color: var(--orange-500);
    text-align: center;
}

.experience__text .subtitle {
    color: var(--gray-600);
    text-align: center;
}


.experience__grid {
    max-width: 980px;
    width: 100%;

    display: grid;
    grid-template-columns: minmax(0, 228px) minmax(420px, 1fr);
    grid-template-areas:
            "date-1 exp"
            "date-2 exp"
            "date-3 exp"
            ".      exp";
    gap: 0 32px;
}

@media (max-width: 768px) {
    .experience__grid {
        max-width: 520px;
        background-color: white;
        border-radius: var(--radius);

        grid-template-columns: 1fr;
        grid-template-areas:
            "date-1"
            "exp-1"
            "date-2"
            "exp-2"
            "date-3"
            "exp-3";
        gap: 0;
    }
}


.experience__date {
    padding: 16px 32px;
    background-color: white;
    color: var(--gray-500);
}

.experience__date.active {
    color: black;
}

.experience__date:hover {
    cursor: pointer;
}

.experience__date[data-order="1"] {
    grid-area: date-1;
    padding-top: 32px;
    border-radius: var(--radius) var(--radius) 0 0;
    z-index: 0;
}

.experience__date[data-order="2"] {
    grid-area: date-2;
    z-index: 1;
}

.experience__date[data-order="3"] {
    grid-area: date-3;
    padding-bottom: 32px;
    border-radius: 0 0 var(--radius) var(--radius);
    z-index: 2;
}

@media (max-width: 1024px) {
    .experience__date[data-order="1"] {
        padding-top: 16px;
    }

    .experience__date[data-order="3"] {
        padding-bottom: 16px;
    }
}

@media (max-width: 768px) {
    .experience__date.active[data-order="3"] {
        border-radius: 0;
    }
}

.experience__detailed-card {
    padding: 32px;
    border-radius: var(--radius);
    background-color: white;
    height: fit-content;
    overflow: hidden;

    display: none;
    gap: 48px;

    animation: stretch 280ms linear;
}

@keyframes stretch {
    from { max-height: 0; padding: 0 32px; }
    to { max-height: 250px; padding: 32px; }
}

@media (max-width: 768px) {
    .experience__detailed-card {
        z-index: 3;
        border-radius: 0 0 var(--radius) var(--radius);
        flex-direction: column;
        gap: 24px;
    }
}

.experience__detailed-card.active {
    grid-area: exp;
    display: flex;


}

@media (max-width: 768px) {
    .experience__date:not(:last-child) {
        border-bottom: 1px solid var(--gray-200);
    }

    .experience__detailed-card.active {
        grid-area: unset;
    }

    .experience__detailed-card[data-order="1"] {
        grid-area: exp-1;
    }

    .experience__detailed-card[data-order="2"] {
        grid-area: exp-2;
    }

    .experience__detailed-card[data-order="3"] {
        grid-area: exp-3;
    }
}

.experience__detailed-card img {
    max-width: 103px;
    height: fit-content;
}

.experience__details {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.experience__details ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 128px;
    overflow-y: scroll;

    scrollbar-width: thin;
    scrollbar-color: var(--gray-300) white;
}

@media (max-width: 768px) {
    .experience__details ul {
        max-height: unset;
    }
}

.experience__details li {
    color: var(--gray-600);
    display: block;
    margin-left: 14px;
}

.experience__details li::before {
    content: '\2022';
    color: var(--orange-500);
    margin-left: -14px;
}


