
.header {
    padding-top: 16px;
    padding-bottom: 16px;
}

@media (max-width: 768px){
    .header{
        padding: 16px;
    }
}

.header-wrapper {
    max-width: 1280px;
    width: 100%;
    padding: 0 32px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px){
    .header-wrapper{
        padding: 0;
    }
}

.header__menu {
    display: flex;
    gap: 24px;
}

.header__menu-item {
    color: var(--gray-600);
}

.header__menu-mobile {
    display: none;
}

@media (max-width: 768px){
    .header__top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__menu {
        display: none;
    }

    .header__menu-mobile {
        display: block;
        background-image: url("../img/menu.svg");
        width: 36px;
        height: 36px;
    }

    .header.menu-expanded {
        height: 100vh;
        position: fixed;
        z-index: 100;

        padding: 0;
        background: rgba(17, 24, 39, 0.10);
        backdrop-filter: blur(4px);

        transition: backdrop-filter 500ms;

        display: flex;
        justify-content: right;
    }

    .header-wrapper.menu-expanded {
        flex-direction: column;
        gap: 0;
        justify-content: flex-start;

        width: 320px;
        background-color: white;

        transition: width ease-out 400ms;
    }

    .header__top.menu-expanded {
        padding: 16px;
        border-bottom: 1px solid var(--gray-100);
    }

    .header__top.menu-expanded .header__menu-mobile {
        background-image: url("../img/close.svg");
    }

    .header__menu.menu-expanded {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 16px;
        padding: 16px;
        border-bottom: 1px solid var(--gray-100);
    }
}