
:root {
    --radius: 12px;
    --container-padding-tb: 96px;
    --container-padding-lr: 80px;
}

@media (max-width: 1024px) {
    :root {
        --container-padding-tb: 64px;
        --container-padding-lr: 64px;
    }
}

@media (max-width: 768px) {
    :root {
        --container-padding-tb: 32px;
        --container-padding-lr: 16px;
    }
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    padding-left: var(--container-padding-lr);
    padding-right: var(--container-padding-lr);
}

.container--gray {
    background-color: var(--gray-50);
}



.drop-shadow--md {
    box-shadow:
            0 2px 2px 0 rgba(0, 0, 0, 0.06),
            0 4px 3px 0 rgba(0, 0, 0, 0.07);
}

.drop-shadow--lg {
    box-shadow:
            0 10px 8px 0 rgba(0, 0, 0, 0.04),
            0 4px 3px 0 rgba(0, 0, 0, 0.10);
}

.drop-shadow--2xl {
    box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.15);
}



::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: white;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: var(--gray-300);
    border-radius: 20px;
}


.annoying-message {
    position: fixed;
    right: 20px;
    bottom: 0;
    z-index: 8;

    transition: transform ease-out 500ms;
}

.annoying-message__image {
    max-width: 410px;
    width: 100%;
}

@media (max-width: 768px) {
    .annoying-message__image {
        max-width: 300px;
    }
}

.annoying-message__button {
    background-image: url("../img/close.svg");
    width: 36px;
    height: 36px;

    position: absolute;
    top: 0;
    right: 0;
}

.annoying-message.hidden {
    transform: translateX(110%);
}